{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'cascade/main.css' %}">
    <<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% if title %}
      <title>CASCADE - {{title}}</title>
    {% else %}
      <title>CASCADE</title>
    {% endif %}
    {% block extendscript %}{% endblock extendscript %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="http://nova.chem.colostate.edu/cascade/">CASCADE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="http://nova.chem.colostate.edu/cascade/">Home</a>
              <a class="nav-item nav-link" href="http://nova.chem.colostate.edu/cascade/predict/">Predict</a>
              <a class="nav-item nav-link" href="http://nova.chem.colostate.edu/cascade/about/">About</a>
            </div>
            <!-- Navbar Right Side -->
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
          {%block content%}{% endblock %}
      </div>
    </main>
    <br><br>
    <footer class="footer navbar-expand-md navbar-dark bg-steel fixed-bottom" style="height:50px">
      <div class="container">
        <p style="color:white;">
          <em>Author:</em> Yanfei Guan & Robert S. Paton @ <a href="http://patonlab.com/" style="color: #FF5733">Paton Lab</a>, Colorado State University<br>
          <em>Email:</em> yanfei.guan@colostate.edu, robert.paton@colostate.edu
        </p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
